        .contact {
            padding: 30px 60px;
            text-align: left;
            background-color: rgb(255, 255, 255);
        }

        .contact-title {
            font-family: "Times New Roman", Times, serif;
            font-size: 45px;
            margin-bottom: 20px;
            margin-top: 80px;
        }

        