        .contact {
            padding: 30px 60px;
            text-align: left;
            background-color: rgb(255, 255, 255);
        }

        .contact-title {
            font-family: "Times New Roman", Times, serif;
            font-size: 45px;
            margin-bottom: 20px;
            margin-top: 80px;
            text-align: center;
        }

        .contacts {
            display: flex;           
            justify-content: space-between;
            padding: 30px 60px;
            gap: 25px;                /* spacing between image and text */
        }

        .left-side {
            flex: 1;           /* controls width */
            padding: 30px;
            background-color: #ffffff;  /* light background */
            border-radius: 12px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* subtle shadow */
            font-family: "Times New Roman", serif;
            line-height: 1.6;
            color: #333;
        }

        .left-side p:first-of-type {
            font-size: 18px;
            margin-bottom: 10px;
        }

        .detail-info {
            display: flex;
            flex-direction: column;
            gap: 5px; /* space between info blocks */
        }

        .info-heading {
            font-size: 20px;
            font-weight: bold;
            color: #222;
            margin-bottom: 2px;
        }

        .detail-info p {
            margin: 0;
            font-size: 16px;
            color: #555;
        }

        .right-side {
            flex: 1;
        }

        .contact-section {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background: #f2f2f2;
            border-radius: 12px;
        }

        .contact-section h2 {
            text-align: center;
            margin-bottom: 20px;
            font-family: "Times New Roman", serif;
        }

        .contact-section label {
            display: block;
            margin-top: 25px;
            font-weight: bold;
        }

        .contact-section input,
        .contact-section textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        .contact-section button {
            margin-top: 20px;
            padding: 12px 20px;
            border: none;
            border-radius: 8px;
            background-color: #272727;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .contact-section button:hover {
            background-color: #858585;
        }

        .required {
            color: red;
        }

