        .machine {
            padding: 30px 20px;
            text-align: center;
            background-color: rgb(255, 255, 255);
        }

        .machine-title {
            font-family: "Times New Roman", Times, serif;
            font-size: 50px;
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .my-table {
            width: 50%;
            border-collapse: collapse;
            margin: 0 auto; 
        }

        .my-table th,
        .my-table td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .my-table th {
            background: #333;
            color: white;
        }

        .my-table tr:nth-child(even) {
            background: #f9f9f9;
        }

        .my-table tr:hover {
            background: #f1f1f1;
        }