        .machine {
            padding: 30px 20px;
            text-align: center;
            background: linear-gradient(to bottom, #f4f4f4 0%, #f4f4f4 80%, #e0e0e0 100%);

        }

        .machine-title {
            font-family: "Times New Roman", Times, serif;
            font-size: 50px;
            margin-top: 80px;
            margin-bottom: 50px;
        }

        .machines-table {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .my-table {
            width: 50%;
            border-collapse: collapse;
        }

        .my-table th,
        .my-table td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .my-table th {
            background: #333;
            color: white;
        }

        .my-table tr:nth-child(even) {
            background: #f9f9f9;
        }

        .my-table tr:hover {
            background: #303030;
            color: white;
        }

        .description-text {
            margin-top: 20px;
            font-size: 18px;
            padding: 20px;
            text-align: left;
            font-family: "Times New Roman", Times, serif;
        }

        
        .controls {
            display: flex;
            justify-content: right;
            padding-right: 20px;
            gap: 15px;
            margin-bottom: 20px;
        }

        .controls input,
        .controls select {
            padding: 8px 12px;
            font-size: 14px;
        }

        /* ==== Animations ==== */
        .float-up {
            opacity: 0;
            transform: translateY(40px);
            transition: opacity 0.6s ease, transform 0.6s ease;
        }

        .float-up.active {
            opacity: 1;
            transform: translateY(0);
        }

        .Smachine {
            padding: 30px 20px;
            text-align: center;
            background-color: #e0e0e0;
            
        }

        .Smachine-title {
            font-family: "Times New Roman", Times, serif;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .Smachines-table {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .S-table {
            width: 90%;
            border-collapse: collapse;
        }

        .S-table th,
        .S-table td {
            border: 1px solid #ddd;
            padding: 10px;
        }

        .S-table th {
            background: #333;
            color: white;
        }

        .S-table tr:nth-child(even) {
            background: #f9f9f9;
        }

        .S-table tr:hover {
            background: #303030;
            color: white;
        }