        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        * {
            box-sizing: border-box;
          }

        header {
            background: transparent;
            padding: 15px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: absolute;   /* or fixed */
            top: 0;
            left: 0;
            width: 100%;
            background: transparent;
            z-index: 10;
        }


        .logo {
          display: flex;
          align-items: center;
        }

        header h1 {
            margin: 0;
            font-size: 20px;
        }

        .company-name {
            font-family: "Times New Roman", Times, serif;
            font-size: 40px;
            font-weight: bolder;
            color: rgb(255, 75, 75);
            letter-spacing: 8px;
            padding-left: 50%;
            padding-top: 30%;
        }

        nav a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            margin-left: 20px;
            margin-right: 40px;
            font-size: 18px;
        }

        nav a:hover {
            text-decoration: underline;
        }

        nav a.active {
          color: rgb(255, 255, 255);
          padding-bottom: 3px;
          font-weight: bold;
        }

        .hero {
            position: relative;
            overflow: hidden;
            height: 100vh; /* or 100vh if full screen */
            display: flex;
            justify-content: center;
            align-items: center;
        }



        /* background image layer */
        .hero-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
            z-index: 0;
        }

        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
        
        /* text layer */
        .hero-content {
            position: relative;
            z-index: 2;
            text-align: center;
            color: white;
        }

        .hero h2 {
            font-family: "Times New Roman", Times, serif;
            font-size: 56px;
            margin-bottom: 10px;
        }

        .hero p {
            font-family: "Playfair Display",  serif;
            font-style: italic;
            font-weight: bold;
            font-size: 24px;
            color: #ffffff;
        }

        .hero-btn {
            display: inline-block;
            margin-top: 20px;
            padding: 12px 30px;
            background-color: rgb(0, 51, 255);
            color: white;
            text-decoration: none;
            font-family: "Times New Roman", serif;
            font-size: 20px;
            border-radius: 5px;   /* slightly rounded, remove if want sharp rectangle */
        }

        .hero-btn:hover {
            background-color: rgb(67, 105, 255);
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
            position:relative;
            bottom: 0;
            width: 100%;
        }

        html, body {
            height: 100%;
            margin: 0;
        }

        .page-container {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 1; /* takes up remaining space */
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px;
        }